server:
  port: 8082

spring:
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848

logging:
  level:
    com.tenghe.corebackend.kronos: DEBUG
    org.springframework.cloud.openfeign: DEBUG
