<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tenghe.corebackend.device.infrastructure.persistence.mapper.GatewayMapper">
  <resultMap id="GatewayMap" type="com.tenghe.corebackend.device.infrastructure.persistence.po.GatewayPo">
    <result column="product_id" property="productId"/>
    <result column="station_id" property="stationId"/>
    <result column="last_heartbeat_time" property="lastHeartbeatTime"/>
    <result column="create_time" property="createTime"/>
  </resultMap>

  <insert id="insert">
    INSERT INTO system_gateway
    (id, name, type, sn, product_id, station_id, status, enabled, create_time, deleted)
    VALUES (#{id}, #{name}, #{type}, #{sn}, #{productId}, #{stationId}, #{status}, #{enabled}, #{createTime},
            #{deleted})
  </insert>

  <update id="update">
    UPDATE system_gateway
    SET name        = #{name},
        sn          = #{sn},
        product_id  = #{productId},
        station_id  = #{stationId},
        status      = #{status},
        enabled     = #{enabled},
        deleted     = #{deleted},
        update_time = NOW()
    WHERE id = #{id}
  </update>

  <select id="findById" resultMap="GatewayMap">
    SELECT id,
           name,
           type,
           sn,
           product_id,
           station_id,
           status,
           enabled,
           last_heartbeat_time,
           create_time,
           deleted
    FROM system_gateway
    WHERE id = #{id}
  </select>

  <select id="findBySn" resultMap="GatewayMap">
    SELECT id,
           name,
           type,
           sn,
           product_id,
           station_id,
           status,
           enabled,
           last_heartbeat_time,
           create_time,
           deleted
    FROM system_gateway
    WHERE sn = #{sn}
  </select>

  <select id="listAll" resultMap="GatewayMap">
    SELECT id,
           name,
           type,
           sn,
           product_id,
           station_id,
           status,
           enabled,
           last_heartbeat_time,
           create_time,
           deleted
    FROM system_gateway
    WHERE deleted = 0
  </select>

  <select id="searchByNameOrSn" resultMap="GatewayMap">
    SELECT id,
           name,
           type,
           sn,
           product_id,
           station_id,
           status,
           enabled,
           last_heartbeat_time,
           create_time,
           deleted
    FROM system_gateway
    WHERE deleted = 0
      AND (name LIKE CONCAT('%', #{keyword}, '%')
      OR sn LIKE CONCAT('%', #{keyword}, '%'))
  </select>
</mapper>
